.duurzaamheid {
    display: flex;
    flex-wrap: wrap;

    &__block {
        display: flex;
        width: 30%;
        margin-right: 30px;

        @include media-breakpoint-down(lg) {
            width: 100%;
            padding-bottom: 20px;
        }

        &:last-of-type() {
            margin-right: 0;
        }
    }

    &__icon {
        margin-right: 20px;
    }

    &__text {}
}