.gradient {

    // bottom
    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(0deg, rgba(white, 0.3) 0%, rgba(white, 0) 50%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;


        @include media-breakpoint-down(lg) {
            background: linear-gradient(0deg, rgba(black, 0.5) 0%, rgba(black, 0) 100%);
        }
    }


    // right
    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(270deg, rgba(black, 0.5) 0%, rgba(black, 0) 100%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}