.hero {
    @extend .center;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;

    @include media-breakpoint-down(lg) {
        padding-bottom: 250px;
    }

    h1 {

        @include media-breakpoint-down(sm) {
            font-size: 40px;
        }
    }

    .row {
        display: flex;
        align-items: center;
    }

    p {
        width: 80%;
    }

    &__logo {
        width: 320px;

        @include media-breakpoint-down(lg) {
            padding-bottom: 50px;
            margin-top: 50px;
        }
    }

}