.instagram {
    position: relative;
    display: inline-flex;
    padding: 18px 32px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    &__icon {
        padding-left: 30px;
    }
}