.the-slider {
    margin-top: -200px;
}

.swiper-container {
    width: 100%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(sm) {
        height: 450px;
    }
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 77%;
    width: 100%;
    border-radius: 7px;


    .swiper-slide {
        border-radius: 7px;
    }
}

.gallery-thumbs {
    height: 23%;
    box-sizing: border-box;
    padding: 20px 0;
    border-radius: 7px;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 4px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}