.erik {
    position: absolute;
    // right: 90%;
    top: -170px;
    left: -70px;

    @include media-breakpoint-down(xl) {
        // display: none;
    }
}

.nuts {
    position: absolute;
    right: 0;
    top: -10px;


    @include media-breakpoint-down(sm) {
        display: none;
    }
}