body {
    .tablepress {
        * {
            background-color: transparent !important;
            border: none !important;
        }

        td,
        th {
            padding: 1px 0;
        }

        td:first-of-type() {
            font-weight: bold;
        }

        td:last-of-type() {
            color: #737373;
        }

    }

}