body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    line-height: 2em;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ksg';
    margin-bottom: 30px;
    margin-top: 50px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 32px;
}


ul {
    padding-left: 22px;
}