@font-face {
    font-family: "ksg";
    src: url('./fonts/KGSecondChancesSketch.ttf') format('truetype'),
}

@font-face {
    font-family: "ksgSolid";
    src: url('./fonts/KGSecondChancesSolid.ttf') format('truetype'),
}

.solid {
    font-family: 'ksgSolid';
}