.footer {
    position: relative;
    padding: 75px 0;
    margin-top: 120px;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: .5;
        user-select: none;
    }
}

.reserveren {
    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 7px;

    @include media-breakpoint-down(sm) {
        padding: 25px;
    }

    h2 {
        font-size: 48px;
        margin-top: 0;

        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }
    }

    &__btn {
        margin-top: 10px;
    }
}