// transition
$transition-base: .3s;


// font
$font-size-base: 1.125rem; // 18px


// grid
// they are the default values, but with a an optional xxl
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px);

$container-max-widths: (sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px);

$grid-gutter-width: 60px;


// button and input
$input-btn-padding-y: .6rem;
$input-btn-padding-x: 1.7rem;


$primary: #255649;
$secondary: white;